/* Elements */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 22px;
}

h1 strong {
	font-weight: 900;
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
}

h2 strong {
	font-weight: 500;
}

a, button {
	color: #0e3fcb !important;
	text-decoration: none !important;
	transition: 0.3s ease all;
}

a:hover, button:hover {
	color: #000 !important;
}

button {
	outline: none !important;
	box-shadow: none !important;
}

h1.title {
	color: #fff;
}


/* Layout */

#app {
	min-width: 1200px;
}

.left {
	padding-left: 20px;
	width: 300px;
	overflow-x: hidden;
}

.right {
	width: calc(100vw - 300px);
	min-width: 900px;
}

#topbar {
	color: #fff;
	background: #0e3fcb;
	height: 50px;
	box-shadow: 3px 3px 5px rgba(0,0,0, 0.03);
}

#topbar a {
	color: #fff;
}

#main,
#main .left,
#main .right {
	height: calc(100vh - 60px);
}

.chart {
	height: calc(100vh - 150px);
}

header.header {
	padding-right: 10px;
	height: 50px;
}

footer.footer {
	padding-right: 140px;
	height: 50px;
}

footer.footer > div {
	margin: 0;
	font-size: 11px;
}

footer.footer .social {
	float: right;
	font-size: 12px;
}

.social strong,
.social button {
	margin-left: 5px;
	margin-right: 5px;
}

.totals {
	margin-right: 130px;
	font-size: 12px;
	line-height: 1.2;
}

.totals > div {
	margin-left: 10px;
	margin-right: 10px;
}

.total-number {
	font-size: 16px;
}

#countries {
	padding: 0;
	list-style: none;
}

#countries li {
	font-size: 14px;
}

#countries li label {
	margin: 1px 0;
}

#filters {
	height: 50px;
}

#filter_type {
	padding-top: 15px;
}

#filter_type label {
	font-size: 13px;
	font-weight: bold;
	margin-right: 10px;
}

#filter_align {
	padding-top: 15px;
	margin-right: 150px;
	font-size: 13px;
}


/* Forms */

select.custom-select {
	width: auto;
	font-size: 13px;
	padding: 5px 30px 5px 10px;
	height: auto;
}